* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: rubik, sans-serif;

}

/* ------ HR ------ */

p::selection {
    background: #ff0088;
}


a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

hr {
    width: 95vw;
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

/* --- INICIO --- */

.uppernav {
    background-color: #ff0088b7;
    text-align: center;
}

.uppernav p {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    color: #ffffff;
}

.nav {
    background: #00000095;
    height: 80px;
    color: #ffffff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 3.5em;
}

.nav__img {
    width: 2.5em;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item {
    text-decoration: none;
    color: #ffffff;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav__label,
.nav__input {
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}









@media (min-width:1400px) {
    .nav__label {
        display: none;
    }

    .nav__menu {
        justify-content: space-between;
        width: 50%;
    }

    .nav__menu a {
        flex: wrap;
        font-size: 1em;
    }

    .container__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ".card .card .card";
    }

    .card img {
        display: block;
        margin: auto;
        width: 466.6666666666667px;
        cursor: pointer;
    }

    /* --- Ver Más Productos --- */

    .view__products {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* --- Pre Footer --- */

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: "i hr";
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .icons i {
        font-size: 5.3em;
        text-align: center;
        margin-top: 20px;
        padding-right: 20px;
    }

    .icons h3 {
        font-weight: 400;
        margin-top: 20px;
        font-size: 1.5em;
    }

    /* --- Navegación Footer --- */

    .footer__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer__nav ul {
        display: flex;
        justify-content: space-around;
        padding-left: 20%;
        padding-right: 20%;
    }

    .footer__nav div {
        width: 100%;
    }

    .footer__cards {
        margin-bottom: 40px;
    }

    .footer__cards ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .payment__card {
        width: 60px;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        margin: 5px;
    }

    /* --- PRODUCTOS --- */

    .container__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container__products img {
        width: 350px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__i {
        display: flex;
        justify-content: center;
    }

    .center__icon img {
        cursor: pointer;
    }

    .center__icon i {
        background-color: #ff0088;
        border-radius: 100%;
        padding: 12px;
        padding-right: 15px;
        cursor: pointer;
    }

    .center__icon i:hover {
        background-color: #ae00ff;
        border-radius: 100%;
        padding: 12px;
        padding-right: 15px;
    }

    .container__products h3 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
        cursor: pointer;
    }

    .container__products p {
        text-align: center;
        margin-bottom: 30px;
        color: #ff0088;
    }

    /* --- Opción para ver los productos --- */

    .selector {
        position: relative;
        float: right;
        overflow: hidden;
        margin-right: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .selector select {
        background-color: #000000;
        color: #ffffff;
        border: solid;
        border-color: #ffffffb7;
        border-radius: 50px;
        border-width: 2px;
        padding: 4px;
    }

    /* --- Guía de Talles --- */

    .sizes {
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sizes img {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 700px;
    }

    .background__sizes {
        background-image: url(../assets/img/fondo-talles.png);
        background-position: top;
        background-size: cover;
        height: 90vh;
    }

    /* --- Contacto --- */

    /* --- Formulario --- */

    form {
        text-align: center;
    }

    .form {
        width: 700px;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: rubik;
    }

    .form__name input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__mail input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__text textarea {
        font-family: rubik;
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 200px;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form label {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .form__submit input {
        font-size: 1rem;
        font-weight: 600;
        border: solid;
        border-color: #ffffff;
        border-width: 2px;
        border-radius: 2em;
        background-color: #ff0088;
        color: #ffffff;
        width: 130px;
        height: 40px;
        margin-bottom: 40px;
        cursor: pointer;
    }

    /* --- Mapa - Ubicación --- */

    iframe {
        display: block;
        width: 600px;
        height: 300px;
        margin: auto;
        margin-bottom: 70px;
        padding: 15px;
        border-radius: 2em;
        color: #ffffffb7;
    }

    .info__dev p {
        text-align: justify;
        margin-left: 28%;
        margin-top: 43px;
        margin-bottom: 43px;
        font-size: 1.2em;
        line-height: 47px;
    }

    
}









@media (min-width:1024px) and (max-width:1399px) {
    .nav__label {
        display: none;
    }

    .nav__menu {
        justify-content: space-between;
        width: 70%;
    }

    .nav__menu a {
        flex: wrap;
        font-size: 1em;
    }

    .container__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ".card .card .card";
    }

    .card img {
        display: block;
        margin: auto;
        width: 341.3333333333333px;
    }

    /* --- Ver Más Productos --- */

    .view__products {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* --- Pre Footer --- */

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: "i hr";
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .icons i {
        font-size: 4.5em;
        text-align: center;
        margin-top: 20px;
        padding-right: 20px;
    }

    .icons h3 {
        font-weight: 400;
        margin-top: 20px;
        font-size: 1em;
    }

    /* --- Navegación Footer --- */

    .footer__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer__nav ul {
        display: flex;
        justify-content: space-around;
        padding-left: 15%;
        padding-right: 15%;
    }

    .footer__nav div {
        width: 100%;
    }

    .footer__cards {
        margin-bottom: 40px;
    }

    .footer__cards ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .payment__card {
        width: 50px;
        border-style: solid;
        border-width: 1px;
        padding: 4px;
        margin: 4px;
    }

    /* --- PRODUCTOS --- */

    .container__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container__products img {
        width: 256px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__i {
        display: flex;
        justify-content: center;
    }

    .center__icon i {
        background-color: #ff0088;
        border-radius: 100%;
        padding: 12px;
        padding-right: 15px;
    }

    .container__products h3 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__products p {
        text-align: center;
        margin-bottom: 30px;
        color: #ff0088;
    }

    /* --- Opción para ver los productos --- */

    .selector {
        position: relative;
        float: right;
        overflow: hidden;
        margin-right: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .selector select {
        background-color: #000000;
        color: #ffffff;
        border: solid;
        border-color: #ffffffb7;
        border-radius: 50px;
        border-width: 2px;
        padding: 4px;
    }

    .sizes {
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sizes img {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 512px;
    }

    .background__sizes {
        background-image: url(../assets/img/fondo-talles.png);
        background-position: top;
        background-size: cover;
        height: 90vh;
    }

    /* --- Contacto --- */

    /* --- Formulario --- */

    form {
        text-align: center;
    }

    .form {
        width: 700px;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: rubik;
    }

    .form__name input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__mail input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__text textarea {
        font-family: rubik;
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 200px;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form label {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .form__submit input {
        font-size: 1rem;
        font-weight: 600;
        border: solid;
        border-color: #ffffff;
        border-width: 2px;
        border-radius: 2em;
        background-color: #ff0088;
        color: #ffffff;
        width: 130px;
        height: 40px;
        margin-bottom: 40px;
    }

    /* --- Mapa - Ubicación --- */

    iframe {
        display: block;
        width: 600px;
        height: 300px;
        margin: auto;
        margin-bottom: 70px;
        padding: 15px;
        border-radius: 2em;
        color: #ffffffb7;
    }

    .info__dev p {
        text-align: justify;
        margin-left: 20%;
        margin-top: 43px;
        margin-bottom: 43px;
        font-size: 1.1em;
        line-height: 35px;
    }
}









@media (min-width:768px) and (max-width:1023px) {
    .nav__label {
        display: none;
    }

    .nav__menu {
        justify-content: space-between;
        width: 85%;
    }

    .nav__menu a {
        flex: wrap;
        font-size: 0.85em;
    }

    .container__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ".card .card .card";
    }

    .card img {
        display: block;
        margin: auto;
        width: 256px;
    }

    /* --- Ver Más Productos --- */

    .view__products {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* --- Pre Footer --- */

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: "i hr";
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .icons i {
        font-size: 4.5em;
        text-align: center;
        margin-top: 20px;
        padding-right: 20px;
    }

    .icons h3 {
        font-weight: 400;
        margin-top: 20px;
        font-size: 1em;
    }

    /* --- Navegación Footer --- */

    .footer__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer__nav ul {
        display: flex;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer__nav div {
        width: 100%;
    }

    .footer__cards {
        margin-bottom: 40px;
    }

    .footer__cards ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .payment__card {
        width: 40px;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
        margin: 3px;
    }

    /* --- PRODUCTOS --- */

    .container__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container__products img {
        width: 256px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__i {
        display: flex;
        justify-content: center;
    }

    .center__icon i {
        background-color: #ff0088;
        border-radius: 100%;
        padding: 12px;
        padding-right: 15px;
    }

    .container__products h3 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__products p {
        text-align: center;
        margin-bottom: 30px;
        color: #ff0088;
    }

    /* --- Opción para ver los productos --- */

    .selector {
        position: relative;
        float: right;
        overflow: hidden;
        margin-right: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .selector select {
        background-color: #000000;
        color: #ffffff;
        border: solid;
        border-color: #ffffffb7;
        border-radius: 50px;
        border-width: 2px;
        padding: 4px;
    }

    .sizes {
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sizes img {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 384px;
    }

    .background__sizes {
        background-image: url(../assets/img/fondo-talles.png);
        background-position: top;
        background-size: cover;
        height: 90vh;
    }

    /* --- Contacto --- */

    /* --- Formulario --- */

    form {
        text-align: center;
    }

    .form {
        width: 700px;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: rubik;
    }

    .form__name input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__mail input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__text textarea {
        font-family: rubik;
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 600px;
        height: 200px;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form label {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .form__submit input {
        font-size: 1rem;
        font-weight: 600;
        border: solid;
        border-color: #ffffff;
        border-width: 2px;
        border-radius: 2em;
        background-color: #ff0088;
        color: #ffffff;
        width: 130px;
        height: 40px;
        margin-bottom: 40px;
    }

    /* --- Mapa - Ubicación --- */

    iframe {
        display: block;
        width: 600px;
        height: 300px;
        margin: auto;
        margin-bottom: 70px;
        padding: 15px;
        border-radius: 2em;
        color: #ffffffb7;
    }

    .info__dev p {
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 43px;
        margin-bottom: 43px;
        font-size: 1em;
        line-height: 25px;
    }
}









@media screen and (max-width: 767px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #171717bb;
        width: 100%;
        margin-top: 29px;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 10;
    }

    .nav__input:checked+.nav__menu {
        background-color: #171717bb;
        clip-path: circle(100% at center);
    }

    .card img {
        width: 333px;
        display: block;
        margin: auto;
    }

    /* --- Ver Más Productos --- */

    .view__products {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* --- Pre Footer --- */

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: "i hr";
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .icons i {
        font-size: 4.5em;
        text-align: center;
        margin-top: 20px;
        padding-right: 20px;
    }

    .icons h3 {
        font-weight: 400;
        margin-top: 20px;
        font-size: 1em;
    }

    /* --- Navegación Footer --- */

    .footer__nav {
        text-align: center;
        margin-bottom: 40px;
        line-height: 25px;
    }

    .footer__cards {
        margin-bottom: 40px;
    }

    .footer__cards ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .payment__card {
        width: 40px;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
        margin: 3px;
    }

    /* --- PRODUCTOS --- */

    .container__products {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container__products img {
        width: 360px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container__i {
        display: flex;
        justify-content: center;
    }

    .center__icon i {
        background-color: #ff0088;
        border-radius: 100%;
        padding: 12px;
        padding-right: 15px;
    }

    .container__products h3 {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 25px;
    }

    .container__products p {
        text-align: center;
        margin-bottom: 10px;
        color: #ff0088;
    }

    /* --- Opción para ver los productos --- */

    .selector {
        position: relative;
        float: right;
        overflow: hidden;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        z-index: 0;
    }

    .selector select {
        background-color: #000000;
        color: #ffffff;
        border: solid;
        border-color: #ffffffb7;
        border-radius: 50px;
        border-width: 2px;
        padding: 4px;
    }

    .sizes {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sizes img {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 333px;
    }

    /* --- Contacto --- */

    /* --- Formulario --- */

    form {
        text-align: center;
    }

    form label {
        display: none;
    }

    .form {
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: rubik;
    }

    .form__name input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 300px;
        height: 40px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__mail input {
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 300px;
        height: 40px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__text textarea {
        font-family: rubik;
        border: solid;
        border-width: 2px;
        border-radius: 2em;
        color: #ffffff;
        background-color: #000000;
        border-color: #ffffffb7;
        width: 300px;
        height: 100px;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form label {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .form__submit input {
        font-size: 1rem;
        font-weight: 600;
        border: solid;
        border-color: #ffffff;
        border-width: 2px;
        border-radius: 2em;
        background-color: #ff0088;
        color: #ffffff;
        width: 80px;
        height: 30px;
        margin-bottom: 40px;
    }

    /* --- Mapa - Ubicación --- */

    iframe {
        width: 333;
        height: 233;
        display: block;
        margin: auto;
        margin-bottom: 70px;
        padding: 15px;
        border-radius: 1.5em;
        color: #ffffffb7;
    }

    /* --- Devoluciones --- */

    .info__dev p {
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 43px;
        margin-bottom: 43px;
        font-size: 0.9em;
        line-height: 20px;
    }
}









.front__page {
    background-image: url(../assets/img/fondo.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 88vh;
}

.wsp__icon {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.wsp__icon img {
    width: 45px;
}

.featured__title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 70px;
}

/* --- Footer --- */

/* --- Icono Instagram --- */

.ig__icon {
    text-align: center;
    font-size: 2rem;
    margin: 40px;
}

/* --- PRODUCTOS --- */

.title__products {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}