body {
    font-family: rubik, sans-serif;
}

.featured__title {
    font-family: "cormorant garamond", serif;
}

.title__products {
    font-family: "cormorant garamond", serif;
}

.title {
    font-family: "cormorant garamond", serif;
}